<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @teacher.school %>
    <br><h2>Interests:</h2><h3><%=  @teacher.school_interests.map(&:name).sort.join(", ") %></h3>
</p>

<% if current_user.id == @teacher.user.id or current_user.admin? %>
	<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<% end %>
<%= link_to 'Back', teachers_path %>
